<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="da-DK">Grundlæggende konfiguration</title>

        <input-field type="bool">
            <name>sandboxMode</name>
            <label>Sandbox Mode</label>
            <label lang="da-DK">Sandbox-tilstand</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="text">
            <name>apiKey</name>
            <label>Communication key</label>
            <label lang="da-DK">Kommunikationsnøgle</label>
            <required>true</required>
        </input-field>
    </card>

    <card>
        <title>Payment Settings</title>
        <title lang="da-DK">Betalingsindstillinger</title>

        <input-field type="bool">
            <name>captureOnShipment</name>
            <label>Capture on shipment</label>
            <defaultValue>false</defaultValue>
            <helpText>
                A capture request will be sent to Freepay whenever you make a shipment.
            </helpText>
        </input-field>
    </card>
</config>
